<div class="card bg-secondary">
  <div class="card-body">
    <h4 class="card-header text-bg-dark">Ship: {{ship.shipId}}</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Assigned Route: {{assignedRoute.name}}</li>
      <li class="list-group-item">Capacity: {{ship.capacity}}</li>
      <!-- <li class="list-group-item">Assigned Pilot: </li> -->
    </ul>
    <div class="btn-group">
      <button
        routerLink="edit"
        class="btn btn-primary card-link">Edit Ship</button>
      <button
        (click)="onDelete()" 
        class="btn btn-danger card-link">Delete Ship</button>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-header text-bg-dark">Status</h4>
    <div class="card-body text-bg-light text-center">
      <h5
        class="card-body alert text-light"
        [ngStyle]="{ 'background-color': ship.status === 'Active'? 'green' : 'grey' }">
        {{ship.status}}</h5>
      <button
        (click)="onChangeStatus()" 
        class="btn btn-warning">Change Status</button>
    </div>
  </div>
</div>