<h2>Routes</h2>

<div class="table-responsive">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Quadrant</th>
        <th scope="col">Route Name</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let route of routes">
        <th scope="row">{{ route.quadrant }}</th>
        <td>{{ route.name }}</td>
        <td [ngStyle]="{ 'background-color': route.status === 'On Time'? 'green' : 'red' }">{{ route.status }}</td>
      </tr>
    </tbody>
  </table>
</div>