<div class="card bg-secondary">
  <div class="card-body">
    <div class="card-header text-bg-dark">
      <h2>Ships Overview</h2>
      <div class="btn-group d-flex justify-content-center">
        <a routerLink="new/s" class="btn btn-outline-secondary">Add new Ship</a>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hoverable table-hover">
        <thead class="purple">
          <tr>
            <th scope="col">Ship Id</th>
            <th scope="col">Assigned Route</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr 
            *ngFor="let ship of ships"
            [routerLink]="[ship.shipId + '/s']"
            routerLinkActive="table-active"
            class="table-secondary">
            <th scope="row">{{ ship.shipId }}</th>
            <td>{{ ship.assignedRoute?.name }}</td>
            <td
            [ngClass]="{'table-dark': ship.status == 'Inactive', 'table-primary': ship.status =='Active'}"
            class="table-active">{{ ship.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
