<h2>Ships Status</h2>

<div class="table-responsive">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Ship Id</th>
        <th scope="col">Assigned Route</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr 
        *ngFor="let ship of ships"
        [ngClass]="{inactive: ship.status === 'Inactive'}">
        <th scope="row">{{ ship.shipId }}</th>
        <td>{{ ship.assignedRoute?.name }}</td>
        <td >{{ ship.status }}</td>
      </tr>
    </tbody>
  </table>
</div>