<div class="card bg-secondary">
  <div class="card-body">
    <h4 class="card-header text-bg-dark">Route: {{route.name}}</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="bold">Route Quadrant: </span> {{route.quadrant}}</li>
        <li class="list-group-item"><span class="bold">Assigned Ship: </span> </li>
        <li class="list-group-item"><span class="bold">Assigned Pilot: </span> </li>
      </ul>
      <div class="btn-group d-flex justify-content-center">
        <button
          routerLink="edit"
          class="btn btn-dark card-link">Edit Route</button>
        <button
          (click)="onDelete()" 
          class="btn btn-outline-danger card-link">Delete Route</button>
      </div>
  </div>
  <div class="card-body">
    <h4 class="card-header text-bg-dark">Status</h4>
    <div class="card-body text-bg-light text-center">
      <h5
        class="card-body alert text-light"
        [ngStyle]="{ 'background-color': route.status? 'green' : 'red' }">
        {{route.status | toString}}</h5>
      <button
        (click)="onChangeStatus()" 
        class="btn btn-dark">Change Status</button>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-header text-bg-dark">Stops</h4>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"
      *ngFor="let stop of route.stops">
      <ngb-panel>
        <ng-template ngbPanelTitle >
          <h5>Stop: {{stop.stopId}}</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="bold">Stop Time: </span> {{stop.stopTime}}
            </li>
            <li class="list-group-item"><span class="bold">Location: </span> {{stop.location}}</li>
            <li class="list-group-item"><span class="bold">Average Riders: </span> {{stop.averageRiders}}</li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>