<div class="card bg-secondary">
  <div class="card-body">
    <h4 class="card-title">Route: {{route.name}}</h4>
    <button
      routerLink="edit"
      class="btn btn-primary card-link">Edit Route</button>
    <button
      (click)="onDelete()" 
      class="btn btn-danger card-link">Delete Route</button>
  </div>
  <div class="card-body text-center">
    <div class="card-header text-bg-dark">{{route.status | toString}}</div>
      <p class="card-text">status placeholder</p>
      <button
        (click)="onChangeStatus()" 
        class="btn btn-warning">Change Status</button>
  </div>
  <div class="card-body">
    <div class="card-header text-bg-dark">Route Info</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Route Quadrant: {{route.quadrant}}</li>
      <li class="list-group-item">Assigned ship</li>
      <li class="list-group-item">Assigned Pilot</li>
    </ul>
  </div>
  <div class="card-body">
    <div class="card-header text-bg-dark">Stops</div>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"
      *ngFor="let stop of route.stops">
      <ngb-panel>
        <ng-template ngbPanelTitle >
          <h5>Stop: {{stop.stopId}}</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="bold">Stop Time: </span> {{stop.stopTime}}
            </li>
            <li class="list-group-item">Location: {{stop.location}}</li>
            <li class="list-group-item">Average Riders: {{stop.averageRiders}}</li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>