.pilotItem {
  border: 1px solid #484949;
  border-radius: 5px;
}

.pilotHeading {
  padding: 0.4rem;
  font-size: 1.5rem;
  text-align: center;
}

.pilotText {
  padding: 5px;
  margin-top: .25rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}
