<div class="card bg-secondary">
  <!------------------ Header --------------------->
  <div class="card-body">
    <h2
    *ngIf="editMode" 
    class="card-header text-bg-dark">Edit Ship: '{{ship.name}}'</h2>
  <h2
    *ngIf="!editMode" 
    class="card-header text-bg-dark">Create New Ship</h2>
    
  <!------------------ Ship Details --------------------->
  <form 
  id="ship-edit"
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
  class="form-control text-bg-light">
  <div class="row">
    <div class="form-group">
      <h4>Ship Details</h4>
        <div class="row g-3">
          <label for="aRoute" class="col-sm-5 col-form-label">Current Assigned Route: </label>
          <div class="col-sm-7">
            <input
            [ngModel]="ship.assignedRoute?.name"
            #aRoute="ngModel"
            type="text"
            name="aRoute"
            id="aRoute"
            readonly
            class="form-control-plaintext">
          </div>
        </div>
        <div class="row g-3">
          <label for="aRoute" class="col-sm-5 col-form-label">Current Assigned Pilot: </label>
          <div class="col-sm-7">
            <input
            type="text"
            name="aPilot"
            id="aPilot"
            readonly
            class="form-control-plaintext">
          </div>
        </div>
        <label for="name">Ship Name: </label>
        <input
        required
        [ngModel]="ship.name"
        #name="ngModel" 
        type="text" 
        name="name" 
        id="name"
        class="form-control required">
        <label for="name">Ship Capacity: </label>
        <input
        required
        [ngModel]="ship.capacity"
        #capacity="ngModel" 
        type="number" 
        name="capacity" 
        id="capacity"
        class="form-control required">
        <label for="newRoute">Assign New Route: </label>
        <select
          name="newRoute"
          id="newRoute" 
          class="form-select"> 
          <option selected>None</option>
          <option 
            *ngFor="let newRoute of routes"
            value="newRoute.id">{{ newRoute.name }}</option>
        </select>
        <label for="newPilot">Assign New Pilot: </label>
        <select
          name="newPilot"
          id="newPilot" 
          class="form-select"> 
          <option selected>None</option>
          <option></option>
        </select>
        <div class="btn-group">
          <button 
            type="button" 
            class="btn btn-outline-secondary">Cancel</button>
          <button
            type="button" 
            class="btn btn-dark">Save</button>
        </div>
      </div>
  </div>
</form>
</div>
</div>  





