<div class="container content">
  <div class="row">
    <div class="col-md-12">
      <h2 *ngIf="editMode">Editing Ship: {{ship.shipId}}</h2>
      <h2 *ngIf="!editMode">Create New Ship</h2>
      <a routerLink="/ships" class="btn btn-secondary">Return to Ships</a>
      <div class="row">
        <div class="col-md-6">
          <form 
            id="ship-edit"
            #f="ngForm"
            (ngSubmit)="onSubmit(f)"
            class="form-control">
            <div class="row">
              <div class="form-group">
                <h4>Ship Details</h4>
                <label for="assignedRoute">Assigned Route</label>
                <select
                  [ngModel]="route"
                  #route="ngModel"
                  name="assignedRoute" 
                  class="form-select">
                  <option
                  *ngFor="let route of routes"
                  value="route.id">{{route.name}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
