<div class="card bg-secondary">
  <!------------------ Header --------------------->
  <div class="card-body">
    <h2
    *ngIf="editMode" 
    class="card-header text-bg-dark">Edit Ship: '{{ship.name}}'</h2>
  <h2
    *ngIf="!editMode" 
    class="card-header text-bg-dark">Create New Ship</h2>
    
  <!------------------ Ship Details --------------------->
  <form 
  id="ship-edit"
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
  class="form-control text-bg-light">
  <div class="row">
    <div class="form-group">
      <h4>Ship Details</h4>
        <label for="name">Ship Name: </label>
        <input
        required
        [ngModel]="ship.name"
        #name="ngModel" 
        type="text" 
        name="name" 
        id="name"
        class="form-control required">
        <label for="name">Ship Capacity: </label>
        <input
        required
        [ngModel]="ship.capacity"
        #capacity="ngModel" 
        type="number" 
        name="capacity" 
        id="capacity"
        class="form-control required">
        <label for="newRoute">Assign Route: </label>
        <select
          [ngModel]="ship.assignedRoute"
          #assignedRoute="ngModel"
          name="assignedRoute"
          id="assignedRoute" 
          class="form-select">
          <option 
            value="null" 
            class="text-bg-danger">Remove Route Assignment</option> 
          <option
            [value]="ship.assignedRoute"
            class="text-bg-primary">{{ship.assignedRoute?.name}}</option>
          <option 
            *ngFor="let newRoute of routes"
            [value]="newRoute.id">{{ newRoute.name }}</option>
        </select>
        <label for="newPilot">Assign Pilot: </label>
        <select
          name="newPilot"
          id="newPilot" 
          class="form-select"> 
          <option selected value="none">None</option>
          <option></option>
        </select>
        <div class="btn-group">
          <button
            (click)="onCancel()" 
            type="button" 
            class="btn btn-outline-secondary">Cancel</button>
          <button
            [ngClass]="{'btn-outline-dark': !f.valid}"
            [disabled]="!f.valid" 
            type="submit" 
            class="btn btn-dark">Save</button>
        </div>
      </div>
  </div>
</form>
</div>
</div>  





